<%=raw title "Оформить заказ бесплатного каталога" %>

<table>
  <tr>
    <td valign="top" style="padding: 0 60px;"><%= render :partial => "orders/catalog_order" %></td>
    <td valign="top"><%= image_tag "stend_katalog_cover_20113.jpg" %></td>
  </tr>
</table>

